<% @posts.each do |post| %>
  <div class="post">
    <center class="post-header">
      <div class="title">
        <h1><%= link_to post.title, post_path(post) %></h1>
      </div>

      <div class="date">
        <span class="ion-calendar"></span>
        <%= post.created_at.strftime('%a') %>
        <%= post.created_at.strftime('%B') %>
        <%= post.created_at.strftime('%C') %>,
        <%= post.created_at.strftime('%G') %> @
        <%= post.created_at.strftime('%l') %>:<%= post.created_at.strftime('%M') %> <%= post.created_at.strftime('%p') %>
      </div>
    </center>

    <hr>
    
    <div class="post-content">
      <%= post.content %>
    </div>

    <br>

    <div class="label label-default"><%= post.comments.count %> comments</div>

  </div>
<% end %>

<!-- Default text if no posts -->
<% if @posts.count == 0 %>
  <center>
    <h1>No posts yet :(</h1>
  </center>
<% end %>
